<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZPGn4z-qQRHsvUMI4JZJaHrTI5TpWuQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>183558736018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubenations.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b0f23</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b0f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183558736018:ios:fa9be499da930affef7e4b</string>
</dict>
</plist>